# configs/datasets_uci_health.yaml

datasets:
  - id: 296
    name: "Diabetes 130-US hospitals (1999-2008)"
    path: "data/diabetes+130-us+hospitals+for+years+1999-2008/diabetic_data.csv"
    task_defs:
      - id: readmitted_bin
        target: "readmitted"
        type: "binary_classification"
        label_map:
          NO: 0
          "<30": 1
          ">30": 1
      - id: time_in_hospital_reg
        target: "time_in_hospital"
        type: "regression"
    schema:
      categorical:
        - "race"
        - "gender"
        - "age"
        - "admission_type_id"
        - "discharge_disposition_id"
        - "admission_source_id"
        - "payer_code"
        - "medical_specialty"
        - "diag_1"
        - "diag_2"
        - "diag_3"
        - "max_glu_serum"
        - "A1Cresult"
        - "metformin"
        - "repaglinide"
        - "nateglinide"
        - "chlorpropamide"
        - "glimepiride"
        - "acetohexamide"
        - "glipizide"
        - "glyburide"
        - "tolbutamide"
        - "pioglitazone"
        - "rosiglitazone"
        - "acarbose"
        - "miglitol"
        - "troglitazone"
        - "tolazamide"
        - "insulin"
        - "glyburide-metformin"
        - "glipizide-metformin"
        - "glimepiride-pioglitazone"
        - "metformin-rosiglitazone"
        - "metformin-pioglitazone"
        - "change"
        - "diabetesMed"
      numeric:
        - "time_in_hospital"
        - "num_lab_procedures"
        - "num_procedures"
        - "num_medications"
        - "number_outpatient"
        - "number_emergency"
        - "number_inpatient"
        - "number_diagnoses"
    filters:
      drop_columns:
        - "encounter_id"
        - "patient_nbr"


  - id: 336
    name: "Chronic Kidney Disease"
    path: "data/ckd/chronic_kidney_disease.csv"
    task_defs:
      - id: ckd_class
        target: "class"
        type: "binary_classification"
        label_map:
          ckd: 1
          notckd: 0
      - id: serum_creatinine_reg
        target: "sc"
        type: "regression"
    schema:
      categorical:
        - "rbc"
        - "pc"
        - "pcc"
        - "ba"
        - "htn"
        - "dm"
        - "cad"
        - "appet"
        - "pe"
        - "ane"
      numeric:
        - "age"
        - "bp"
        - "bgr"
        - "bu"
        - "sc"
        - "sod"
        - "pot"
        - "hemo"
        - "pcv"
        - "wc"
        - "rc"

  - id: thyroid
    name: "Thyroid disease (choose one UCI variant you have)"
    path: "data/thyroid/thyroid.csv"
    task_defs:
      - id: thyroid_dx
        target: "diagnosis_main_class"
        type: "multiclass_classification"


  - id: 17
    name: "Breast Cancer Wisconsin (Diagnostic)"
    path: "data/breast_cancer_wdbc/wdbc.csv"
    task_defs:
      - id: bc_dx
        target: "Diagnosis"
        type: "binary_classification"
        label_map:
          M: 1
          B: 0
    filters:
      drop_columns:
        - "id"

  - id: 83
    name: "Primary Tumor"
    path: "data/primary_tumor/primary_tumor.csv"
    split:
      stratify: false
    task_defs:
      - id: tumor_site
        target: "class"
        type: "multiclass_classification"
    schema:
      categorical:
        - "class"
        - "age"
        - "sex"
        - "histologic-type"
        - "degree-of-diffe"
        - "bone"
        - "bone-marrow"
        - "lung"
        - "pleura"
        - "peritoneum"
        - "liver"
        - "brain"
        - "skin"
        - "neck"
        - "supraclavicular"
        - "axillar"
        - "mediastinum"
        - "abdominal"

  - id: 46
    name: "Hepatitis"
    path: "data/hepatitis/hepatitis.csv"
    task_defs:
      - id: hep_outcome
        target: "Class"
        type: "binary_classification"
        label_map:
          1: 1
          2: 0

  - id: 45
    name: "Heart Disease (Cleveland)"
    path: "data/heart_disease/cleveland.csv"
    task_defs:
      - id: hd_bin
        target: "__derived__:hd_bin"
        type: "binary_classification"
        derived_from: "num"
        map_greater_than: {threshold: 0, out_if_leq: 0, out_if_gt: 1}
    schema:
      categorical:
        - "sex"
        - "cp"
        - "fbs"
        - "restecg"
        - "exang"
        - "slope"
        - "ca"
        - "thal"
      numeric:
        - "age"
        - "trestbps"
        - "chol"
        - "thalach"
        - "oldpeak"

